<section id="about">
	<div class="about-container d-flex">
		<div>
			<div class="profile d-flex flex-wrap justify-content-around">
				<img src="{{ site.github.url }}/images/lisa.jpg"></img>
				<img src="{{ site.github.url }}/images/delia.jpg"></img>
			</div>
			<div class="col-lg-12 text-center">
				<h2 class="section-heading">About</h2>
				<p class="section-subheading text-muted">We are a full service salon that caters to each client’s unique style and personality. We offer services that complete your total beauty experience. We specialize in the latest trends & techniques the industry has to offer. We cater to the needs of
					each individual consumer with professionalism & enthusiasm. We are a very energetic & upbeat salon. Our staff members are all certified & qualified in every aspect of cosmetology. Staff members are all licensed & very well educated. Our mission is
					to offer the best service & experience here at Salon Razor. We offer free consultations including the education of your hair & knowledge on the techniques & product knowledge you can use at home so that you may duplicate your Salon Razor style at
					home. Your visit with us will give you the confidence & satisfaction that is expected when leaving our salon. We look forward to meeting all your beauty needs. It is an honor & pleasure to have you as a client.
				</p>
			</div>
		</div>
	</div>
</section>