<div class="container">
	<img src="{{ site.github.url }}/images/SalonChair.jpg" class="img-fluid" alt="Responsive image" style="width:100%;">
	<div class="carousel slide centered" data-ride="carousel">
		<div class="carousel-item active">
			<blockquote class="blockquote d-block">
				<p>"Got an ombré last night and I absolutely love it!!! The lady was so nice and was constantly<br> making sure I was okay and comfortable. Definitely going back in the future ! "
				</p>
				<footer class="blockquote-footer">Ambriehl O. <cite title="Source Title"></cite></footer>
			</blockquote>
		</div>
		<div class="carousel-item">
			<blockquote class="blockquote d-block">
				<p>"Ive been getting my hair done here over 15yrs since their old location on Military Dr. <br>They are awesome at absolutely all their services!! I have told all my friends about them, and will continue to do so💗💗💗"</p>
				<footer class="blockquote-footer">Christine G. <cite title="Source Title"></cite></footer>
			</blockquote>
		</div>
		<div class="carousel-item">
			<blockquote class="blockquote d-block">
				<p>"I LOVE THIS HAIR SALON! Delia always does an amazing job. I highly recommend this place. "
				</p>
				<footer class="blockquote-footer">Rosemary S. <cite title="Source Title"></cite></footer>
			</blockquote>
		</div>
	</div>
</div>
