<div class="container">
	<img src="{{ site.github.url }}/images/SalonChair.jpg" class="img-fluid" alt="Responsive image" style="width:100%;">
	<div class="carousel slide centered" data-ride="carousel">
		<div class="carousel-item active">
			<blockquote class="blockquote d-block">
				<p class="mb-0">"Ive been going to Salon Razor for over 15 years and I dont go anywhere else.".</p>
				<footer class="blockquote-footer">Jennifer S. <cite title="Source Title"></cite></footer>
			</blockquote>
		</div>
		<div class="carousel-item">
			<blockquote class="blockquote d-block">
				<p class="mb-0">"Salon Razor did my hair for my wedding and I was wowed on how geat my hair came out".</p>
				<footer class="blockquote-footer">Linda M. <cite title="Source Title"></cite></footer>
			</blockquote>
		</div>
		<div class="carousel-item">
			<blockquote class="blockquote d-block">
				<p class="mb-0">"I can always go to Salon Razor and they already know the style and cut I want".</p>
				<footer class="blockquote-footer">Jason R. <cite title="Source Title"></cite></footer>
			</blockquote>
		</div>
	</div>
</div>