<div class="brand-container d-flex flex-wrap justify-content-around">
	<div class="logo1">
		<a href="http://www.keratincomplex.com/" target="_blank">
		<img alt="" src="{{ site.github.url }}/images/keratincomplex.png">
	</a>
	</div>
	<div class="logo2">
		<a href="http://1821manmade.com" target="_blank">
		<img alt="" src="{{ site.github.url }}/images/18.21.png">
	</a>
	</div>
	<div class="logo3">
		<a href="http://www.johnnybhaircare.com/" target="_blank">
		<img alt="" src="{{ site.github.url }}/images/JohnnyBLogo.png">
	</a>
	</div>
	<div class="logo4">
		<a href="http://www.keune.com/" target="_blank">
		<img alt="" src="{{ site.github.url }}/images/Keune_logo_black_background.png">
	</a>
	</div>
</div>
