<!--Start of Contact-->
<div class="form-body img-fluid">
	<div class="img-background"><img src="{{ site.github.url }}/images/hair-salon-blur60.jpg"></img>

		<form method="post" class="col-4 mx-auto row justify-content-center" action="/salon-razor/index.php">
			<div class="form-group">
				<label>Name</label>
				<input name="name">

				<label>Number</label>
				<input name="name" placeholder="Whats your Number?">

				<label>Email</label>
				<input name="email" type="email" placeholder="Whats your email?">

				<label>Message</label>
				<textarea name="message" placeholder="Whats your question?"></textarea>

				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
</div>
<!--End of Contact-->