<div class="form-body img-fluid">
	<form method="post" class="col-4 mx-auto row justify-content-center" action="/salon-razor/index.php">
		<div class="form-group">
			<label>Name</label>
			<input name="name">
		</div>
		<div class="form-group">
			<label>Number</label>
			<input name="name" placeholder="Whats your Number?">
		</div>
		<div class="form-group">
			<label>Email</label>
			<input name="email" type="email" placeholder="Whats your email?">
		</div>
		<div class="form-group">
			<label>Message</label>
			<textarea name="message" placeholder="Whats your question?"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
