<!--//Start of the footer//-->
<div class="footer-container  d-flex flex-wrap justify-content-around">
	<div><a class="footer-brand" href="#">SALON RAZOR</a>
		<div class="footer-address align-content-center">
			<P>714 Rayburn<br> San Antonio, Texas 78221</P>
		</div>
		<div class="social-icon d-flex justify-content-around">
			<div><a href="https://www.facebook.com/salonrazorsatx/" target="_blank"><i class="fa fa-facebook"></i></a></div>
			<div><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></div>
			<div><a href="http://pinterest.com"><i class="fa fa-pinterest"></i></a></div>
		</div>
	</div>
	<div class="contact-container d-flex justify-content-around ">
		<ul>
			<li><i class="fa fa-phone fa-lg" aria-hidden="true"></i> (210) 927-5787</li>
			<li><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> info@salonrazor.com</li>
			<li><i class="fa fa-clock-o" aria-hidden="true"></i> Mon to Fri - 11am to 7pm<br>Sat. 10am to 6pm</li>
		</ul>
	</div>
	<div class="foot-link">
		<ul>
			<li>
				<a class="nav-link" href="#services">SERVICES</a>
			</li>
			<li>
				<a class="nav-link" href="#about">ABOUT</a>
			</li>
			<li>
				<a class="nav-link" href="#contact">CONTACT</a>
			</li>
		</ul>
	</div>

</div>
<div class="container-copyright d-flex justify-content-center">
	<p class="">
		&#169; 2017 <a><b>Salon Razor</b></a>. All Rights Reserved.
	</p>
</div>
<!--//End of the footer//-->