<!--Start of navbar-->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand" href="#">SALON RAZOR</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">WELCOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#services">SERVICES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#pricing">PRICING</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT</a>
            </li>
        </ul>
    </div>
</nav>
<!--End of navbar-->
<!--Start of video baclground-->
<div class="vid-container">
    <video autoplay loop muted playsinline>
                <source src="{{ site.github.url }}/images/cut.mp4" type="video/mp4">
                <source src="{{ site.github.url }}/images/cut.webm" type="video/webm">
            </video>
    <div class="header-overlay">
     
        <h1 class="hero-tag">Serving Serving South San Antonio <br>Since 2005</h1>
    </div>
</div>
<!--End of video background-->