
<section id="pricing">
	<div class="col-lg-12 text-center">
                <h2 class="section-heading">PRICING</h2>
                <!--<h3 class="section-subheading text-muted"></h3>-->
            </div>
<div class="table-container d-flex flex-wrap justify-content-around">
	<div class="table-section ">
		<table class="table table-sm table-responsive">
			<thead class="thead-inverse">
				<tr>
					<th colspan="2"> Womens Services *</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Haircut</td>
					<td>$25</td>
				</tr>
				<tr>
					<td>Shampoo | Cut | Dry</td>
					<td>$45</td>
				</tr>
				<tr>
					<td>Special Style
						<br><small><i>(Twisties, Corn-Rolls & Braiding Extra)</i></small></td>
					<td>$50</td>
				</tr>
				<tr>
					<td>Braiding</td>
					<td>$20</td>
				</tr>
				<tr>
					<td>color</td>
					<td>$120</td>
				</tr>
				<tr>
					<td>Foil Highlights</td>
					<td>$120</td>
				</tr>
				<tr>
					<td>Cap Highlights</td>
					<td>$65</td>
				</tr>
				<tr>
					<td>Lowlights</td>
					<td>$120</td>
				</tr>
				<tr>
					<td>Bleaching</td>
					<td>$120</td>
				</tr>
				<tr>
					<td>Corrective Color <br><small><i>(Appointment & Consultation)</i></small></td>
					<td>$150</td>
				</tr>
				<tr>
					<td>Perm<br><small><i>(Specialty Wraps Extra)</i></small></td>
					<td>$80</td>
				</tr>
				<tr>
					<td>Partial Perm</td>
					<td>$50</td>
				</tr>
				<tr>
					<td>Chemical Relaxer</td>
					<td>$85</td>
				</tr>
				<tr>
					<td>Deep cond. Treatment<br><small><i>(Consultation Prior to Treatment)</i></small></td>
					<td>$30</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-section">
		<table class="table table-sm table-responsive">
			<thead class="thead-inverse">
				<tr>
					<th colspan="2">Nails</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Basic Manicure<br><small><i>(cleanse, file & polish)</i></small></td>
					<td>$15</td>
				</tr>
				<tr>
					<td>Oil Manicure<br><small><i>(cleanse, file, moisturize & polish)</i></small></td>
					<td>$20</td>
				</tr>
				<tr>
					<td>Spa Manicure<br><small><i>(cleanse, file, moisturize, massage & polish)</i></small></td>
					<td>$25</td>
				</tr>
				<tr>
					<td>Acrylic Full Set</td>
					<td>$30</td>
				</tr>
				<tr>
					<td>White Tip</td>
					<td>$35</td>
				</tr>
				<tr>
					<td>Fills/Acrylic</td>
					<td>$20</td>
				</tr>
				<tr>
					<td>Nail Repair</td>
					<td>$5</td>
				</tr>
				<tr>
					<td>Nail Removal</td>
					<td>$15</td>
				</tr>
				<tr>
					<td>Basic Pedicure<br><small><i>(cleanse, exfoliate & polish)</i></small></td>
					<td>$25</td>
				</tr>
				<tr>
					<td>Oil Pedicure<br><small><i>(cleanse, exfoliate, moisturize & polish)</i></small></td>
					<td>$30</td>
				</tr>
				<tr>
					<td>Spa Pedicure<br><small><i>(cleanse, exfoliate, mask, moisturize & polish)</i></small></td>
					<td>$35</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="table-section">
		<table class="table table-sm table-responsive">
			<thead class="thead-inverse">
				<tr>
					<th colspan="2">Mens Services*</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Haircut</td>
					<td>$18.00</td>
				</tr>
				<tr>
					<td>Shampoo, Cut & Blow-Dry</td>
					<td>$40</td>
				</tr>
				<tr>
					<td>Beard/Mustache Grooming</td>
					<td>$15</td>
				</tr>
				<tr>
					<td>Color</td>
					<td>$45</td>
				</tr>
				<tr>
					<td>Highlights</td>
					<td>$55</td>
				</tr>
				<tr>
					<td>Bleaching</td>
					<td>$55</td>
				</tr>
				<tr>
					<td>Perm</td>
					<td>$45</td>
				</tr>
				<tr>
					<td>Relaxer</td>
					<td>$55</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="table-section">
		<table class="table table-sm table-responsive">
			<thead class="thead-inverse">
				<tr>
					<th colspan="2">Children’s Services*</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Haircut</td>
					<td>$12</td>
				</tr>
				<tr>
					<td>Shampoo, Cut & Blow-Dry</td>
					<td>$20</td>
				</tr>
				<tr>
					<td>Special Style</td>
					<td>$30</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<p><small><i>*All pricing is a starting price. Our pricing may very on type of Nail/Hair & length.</i></small>
</p>
</section>