form {
    padding: 5px 30px 40px 30px;
    width: auto;
    margin: 0 auto;
}

label {
    color: #de6e6a;
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
}

.form-body {
    background: url("{{site.baseurl}} images/hair-salon-blur60.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

input,
textarea {
    width: 300px;
    height: 27px;
    background: #efefef;
    border: 1px solid #dedede;
    padding: 5px;
    font-size: 0.9em;
    color: #3a3a3a;
}

input:focus,
textarea:focus {
    border: 1px solid #97d6eb;
}

textarea {
    height: 150px;
}

.btn {
    background-color: #de6e6a;
    color: white;
    margin: 20px;
}

.btn:hover {
    background-color: black;
    color: white;
    margin: 20px;
}

.btn-primary {
    color: white;
    background-color: #de6e6a;
    border-color: #de6e6a;
}

.btn-primary:hover {
    color: #de6e6a;
    background-color: black;
    border-color: black;
}

#submit:hover {
    opacity: 0.9;
}