
.footer-container {
	// margin: 0px 50px 0px 50px;
	padding: 20px 50px 20px 50px;
	background-color: black;
	color: white;
}

.footer-brand {
    padding: 0px;
    font-family: 'Loved by the King', cursive;
    font-size: 3.5rem; // text-shadow: 2px 2px #e4241d;
    color: white;
    text-decoration: none;
}

a:link {
	text-decoration: none;
}

.social-icon a {
	color: white;
}

.container-copyright {
	padding: 20px 0px 5px 0px;
	background-color: black;
	color: white;
}

.foot-link a {
	padding-right: 30px;
	padding-left: 10px;
color: #fff;
}