.footer-container {
	// margin: 0px 50px 0px 50px;
	padding: 20px 50px 20px 50px;
	background-color: black;
	color: white;
}

ul {
	padding: 0px;
}

p {
	margin-bottom: 0px;
}

.footer-brand {
	padding: 0px;
	font-family: 'Loved by the King', cursive;
	font-size: 3.5rem;
	color: white;
	text-decoration: none;
	display: block;
}
.social-icon {
    padding: 10px !important;
}

.social-icon a {
	color: white;
}


.contact-container {
	margin: 10px 0px 10px 0px;
}
a:link {
	text-decoration: none;
	color:white;
}

li a {
	color:white;
}

.foot-link a {
	color: #fff;
}

.container-copyright {
	padding: 10px 0px 20px 0px;
	background-color: black;
	color: white;
}