* {
    // border: 1px solid Green;
    border: 0;
    padding: 0;
}

.social-bar-container {
    padding: 3px;
    z-index: 2;
    // position: relative;
    background-color: #ffffff;
}

.navbar-brand {
    font-family: 'Teko', sans-serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px #ff0000;
}

.navbar {
    z-index: 2;
    // position: relative;
    color: #e4241d;
    border-bottom: 3px solid #e4241d;
}

.fa {
    display: inline-block;
    color: #e4241d;
}

ul {
    list-style-type: none;
    margin: 5px;
}

.number,.shop-hours {
    padding-left: 3px;
}

.social-icon i {
    padding-left: 10px;
    padding-right: 10px;
}

.vid-container {
    position:relative;
    padding : 0;
    border: 0;
}

video {
    top: 0px;
    left: 0px;
    min-width: 50%;
    min-height: 50%;
    width: 100%;
    height: auto;
    border: 0;
}

.header-overlay {
    z-index: 1;
    position: absolute;
    top: -6px;
    left: 0px;
    margin: 0px;
    background-color: rgba(0,0,0,0.6);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    color: #e4241d;
    text-align: center;
}