.table-container {
	margin: 0px 20px 0px 20px;
}

.thead-inverse th {
    color: #e07a77;
    background-color: #000;
}

.table-section {
	margin: 10px 0px 10px 0px;
	th {
		width: 326px;
	}
}
 p {
 	margin-left: 30px;
 }