.services-container {
	padding: 75px 30px 75px 30px;
}

.icon-1 {
	padding: 30px;
}

.icon-1 img {
	height: 130px;
	// border: 2px solid #e4241d;
	border-radius: 50%;
	padding: 10px;
	background: #e4241d;
}

h4, h2 {
	color: #e4241d;
}

